In [1]:
import pandas as pd
import pycanon
import time

data = pd.read_csv("data/adult.csv")  # 32561 rows
data.columns = data.columns.str.strip()
cols = [
    "workclass",
    "education",
    "marital-status",
    "occupation",
    "sex",
    "native-country",
]


combined_column = data[['sex', 'race', 'relationship', 'workclass']].astype(str).agg('-'.join, axis=1)
unique_rows_count = combined_column.nunique()
unique_rows_count

#### I wanna make a function take takes in an arbitrarity numbers of column and then calculate which columns together has the least unique rows.

In [108]:
import pandas as pd

def analyze_unique_rows_impact(dataframe):
    # Calculate the number of unique rows in the original dataframe
    value_counts = dataframe.value_counts()
    original_unique_count = len(value_counts[value_counts == 1])

    attributes = dataframe.columns
    results = {}

    for attr in attributes:
        # Drop the column and calculate unique rows again
        subset_df = dataframe.drop(columns=[attr])
        value_counts_after_removal = subset_df.value_counts()
        unique_count_after_removal = len(value_counts_after_removal[value_counts_after_removal == 1])
        impact = original_unique_count - unique_count_after_removal
        results[attr] = impact

    return results



df = pd.DataFrame(data)

# Analyze impact of each feature
unique_row_impact = analyze_unique_rows_impact(df)

# Display the impact of each feature on unique rows
for attr, impact in unique_row_impact.items():
    print(f"Feature: {attr}, Impact on Unique Rows: {impact}")

# Print original unique row count
value_counts = df.value_counts()
original_unique_count = len(value_counts[value_counts == 1])
print(f"Original Unique Rows Count: {original_unique_count}")

Feature: education, Impact on Unique Rows: 67
Feature: marital-status, Impact on Unique Rows: 68
Feature: race, Impact on Unique Rows: 65
Original Unique Rows Count: 68

In [110]:
import pandas as pd

def analyze_unique_rows_impact(dataframe):
    # Calculate the number of unique rows in the original dataframe
    value_counts = dataframe.value_counts()
    original_unique_rows = value_counts[value_counts == 1].index

    attributes = dataframe.columns
    results = {}
    unique_row_indices = {}

    for attr in attributes:
        # Drop the column and calculate unique rows again
        subset_df = dataframe.drop(columns=[attr])
        value_counts_after_removal = subset_df.value_counts()
        unique_rows_after_removal = value_counts_after_removal[value_counts_after_removal == 1].index

        impact = len(original_unique_rows) - len(unique_rows_after_removal)
        results[attr] = impact

        # Identify the rows that lost their uniqueness
        lost_uniqueness_rows = set(original_unique_rows) - set(unique_rows_after_removal)
        unique_row_indices[attr] = lost_uniqueness_rows

    return results, unique_row_indices



# Analyze impact of each feature
unique_row_impact, unique_row_indices = analyze_unique_rows_impact(df)

# Display the impact of each feature on unique rows
for attr, impact in unique_row_impact.items():
    print(f"Feature: {attr}, Impact on Unique Rows: {impact}")

# Print original unique row count
value_counts = df.value_counts()
original_unique_count = len(value_counts[value_counts == 1])
print(f"Original Unique Rows Count: {original_unique_count}")

# Display the value counts for the specific rows that lost uniqueness
for attr, rows in unique_row_indices.items():
    print(f"\nFeature: {attr}, Value counts for rows that lost uniqueness:")
    filtered_df = pd.DataFrame(list(rows), columns=df.columns)
    print(filtered_df[attr].value_counts())

Feature: education, Impact on Unique Rows: 67
Feature: marital-status, Impact on Unique Rows: 68
Feature: race, Impact on Unique Rows: 65
Original Unique Rows Count: 68

Feature: education, Value counts for rows that lost uniqueness:
education
 Doctorate      9
 1st-4th        7
 5th-6th        6
 7th-8th        6
 Assoc-acdm     6
 Assoc-voc      5
 Prof-school    5
 Preschool      5
 11th           4
 Bachelors      4
 9th            3
 10th           3
 12th           2
 Masters        2
 HS-grad        1
Name: count, dtype: int64

Feature: marital-status, Value counts for rows that lost uniqueness:
marital-status
 Married-spouse-absent    18
 Divorced                 14
 Separated                12
 Widowed                   9
 Never-married             8
 Married-civ-spouse        5
 Married-AF-spouse         2
Name: count, dtype: int64

Feature: race, Value counts for rows that lost uniqueness:
race
 Amer-Indian-Eskimo    19
 Other                 19
 Black                 15
 Asian-Pac-Islander    13
 White                  2
Name: count, dtype: int64

In [119]:
data['education'].value_counts()

education
 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: count, dtype: int64

In [117]:
import pandas as pd

def analyze_unique_rows_impact(dataframe):
    # Calculate the number of unique rows in the original dataframe
    value_counts = dataframe.value_counts()
    original_unique_rows = value_counts[value_counts == 1].index

    attributes = dataframe.columns
    results = {}
    unique_row_indices = {}

    for attr in attributes:
        # Drop the column and calculate unique rows again
        subset_df = dataframe.drop(columns=[attr])
        value_counts_after_removal = subset_df.value_counts()
        unique_rows_after_removal = value_counts_after_removal[value_counts_after_removal == 1].index

        impact = len(original_unique_rows) - len(unique_rows_after_removal)
        results[attr] = impact

        # Identify the rows that lost their uniqueness
        lost_uniqueness_rows = set(original_unique_rows) - set(unique_rows_after_removal)
        unique_row_indices[attr] = lost_uniqueness_rows

    return results, unique_row_indices


# Analyze impact of each feature
unique_row_impact, unique_row_indices = analyze_unique_rows_impact(df)

# Display the impact of each feature on unique rows
for attr, impact in unique_row_impact.items():
    print(f"Feature: {attr}, Impact on Unique Rows: {impact}")

# Print original unique row count
value_counts = df.value_counts()
original_unique_count = len(value_counts[value_counts == 1])
print(f"Original Unique Rows Count: {original_unique_count}")

# Create DataFrames for rows that lost uniqueness
e = pd.DataFrame(list(unique_row_indices['education']), columns=df.columns)
m = pd.DataFrame(list(unique_row_indices['marital-status']), columns=df.columns)
r = pd.DataFrame(list(unique_row_indices['race']), columns=df.columns)

e[e['education']==' Doctorate']

Feature: education, Impact on Unique Rows: 67
Feature: marital-status, Impact on Unique Rows: 68
Feature: race, Impact on Unique Rows: 65
Original Unique Rows Count: 68

     education          marital-status                 race
0    Doctorate      Married-civ-spouse   Amer-Indian-Eskimo
3    Doctorate           Never-married                Black
6    Doctorate                Divorced                Black
8    Doctorate           Never-married   Amer-Indian-Eskimo
14   Doctorate   Married-spouse-absent   Amer-Indian-Eskimo
15   Doctorate   Married-spouse-absent   Asian-Pac-Islander
29   Doctorate                Divorced                Other
50   Doctorate               Separated                Black
53   Doctorate      Married-civ-spouse                Other

In [118]:
data['education'].value_counts()

education
 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: count, dtype: int64

In [217]:
unique_combinations = data[['sex', 'education','workclass']].drop_duplicates()
# Count the number of unique combinations
num_unique_combinations = unique_combinations.shape[0]
print(f"Number of unique combinations: {num_unique_combinations}")
print('max:',data['sex'].nunique() * data['education'].nunique()*data['workclass'].nunique())

Number of unique combinations: 220
max: 288

In [120]:
import pandas as pd
import math
grouped = data.groupby(['age']).size().reset_index(name='count')

# Define a function to calculate the privacy metrics
def calculate_privacy_profile(group):
    total = group['count'].sum()
    values = group['count']
    categories = len(values)
    
    priv_factor = sum(1 - (1 / freq) for freq in values) / categories
    
    return pd.Series({
        "PrivacyFactor": priv_factor,
        "Values": total,
    })

# Apply the function to the grouped data
privacy_profile = grouped.groupby(['age']).apply(calculate_privacy_profile).reset_index()

# Print the resulting privacy profile
privacy_profile

    age  PrivacyFactor  Values
0    17       0.997468   395.0
1    18       0.998182   550.0
2    19       0.998596   712.0
3    20       0.998672   753.0
4    21       0.998611   720.0
..  ...            ...     ...
68   85       0.666667     3.0
69   86       0.000000     1.0
70   87       0.000000     1.0
71   88       0.666667     3.0
72   90       0.976744    43.0

[73 rows x 3 columns]

In [90]:
1-(1/math.log(1.1))

-9.492058687257062

In [84]:
 data['age'].value_counts()

age
36    898
31    888
34    886
23    877
35    876
     ...
83      6
88      3
85      3
86      1
87      1
Name: count, Length: 73, dtype: int64

In [128]:

# Group by 'age' and count occurrences
grouped = data.groupby(['age']).size().reset_index(name='count')

# Define a function to calculate the privacy metrics
def calculate_privacy_profile(group):
    total = group['count'].sum()
    values = group['count']
    categories = len(values)
    
    # Calculate Privacy Factor
    priv_factor = sum(1 - (1 / freq) for freq in values) / categories
    
    return pd.Series({
        "PrivacyFactor": priv_factor,
        "Values": total,
    })

# Apply the function to the grouped data
privacy_profile = grouped.groupby(['age']).apply(calculate_privacy_profile).reset_index()

# Print the resulting privacy profile
privacy_profile

    age  PrivacyFactor  Values
0    17       0.997468   395.0
1    18       0.998182   550.0
2    19       0.998596   712.0
3    20       0.998672   753.0
4    21       0.998611   720.0
..  ...            ...     ...
68   85       0.666667     3.0
69   86       0.000000     1.0
70   87       0.000000     1.0
71   88       0.666667     3.0
72   90       0.976744    43.0

[73 rows x 3 columns]

In [127]:
def cumulative_privacy_factor(fields, privacy_profile_df):
    factor = 1
    for field in fields:
        if field in privacy_profile_df.index:
            factor *= privacy_profile_df.loc[field, 'PrivacyFactor']
    return factor

# Example usage
requested_fields = ['sex', 'education','race','salary-class', 'occupation']
cumulative_factor = cumulative_privacy_factor(requested_fields, privacy_profile_df)
print(f"Cumulative Privacy Factor: {cumulative_factor}")

Cumulative Privacy Factor: 421.2372230568297

In [141]:
import pandas as pd
import numpy as np

def calculate_privacy_profile(df):
    privacy_profiles = {}
    
    for field_name in df.columns:
        field_data = df[field_name]
        total = len(field_data)
        value_counts = field_data.value_counts()
        values = value_counts.values
        categories = len(values)
        
        # Calculate Privacy Factor
        priv_factor = np.sum([1 - (1 /freq) for freq in values]) / categories
        
        # Calculate Shannon Entropy
        shannon = np.sum([np.log2(freq) for freq in values]) / categories
        
        # Calculate Hartley Entropy
        hart = np.sum([np.log10(freq) for freq in values]) / categories
        
        # Store the results
        privacy_profiles[field_name] = {
            "PrivacyFactor": priv_factor,
            "Shannons": shannon,
            "Harts": hart,
            "Values": total,
            "Categories": categories
        }
    
    return pd.DataFrame(privacy_profiles).T

# Example usage
if __name__ == "__main__":
 
    
    # Calculate privacy profile
    privacy_profile_df = calculate_privacy_profile(data)
    
    # Print the resulting privacy profile

privacy_profile_df = privacy_profile_df.sort_values(by="PrivacyFactor", ascending=False)
privacy_profile_df

                PrivacyFactor   Shannons     Harts   Values  Categories
sex                  0.999931  13.903122  4.185257  32561.0         2.0
salary-class         0.999916  13.765107  4.143710  32561.0         2.0
relationship         0.999610  11.886329  3.578142  32561.0         6.0
race                 0.998355  10.551341  3.176270  32561.0         5.0
education            0.997306   9.767929  2.940440  32561.0        16.0
education-num        0.997306   9.767929  2.940440  32561.0        16.0
marital-status       0.993109  10.365527  3.120335  32561.0         7.0
occupation           0.991639  10.255226  3.087131  32561.0        15.0
workclass            0.975727   9.404759  2.831115  32561.0         9.0
age                  0.952033   7.689832  2.314870  32561.0        73.0
native-country       0.948611   5.717827  1.721237  32561.0        42.0
hours-per-week       0.865268   5.190036  1.562357  32561.0        94.0
capital-gain         0.779374   3.255042  0.979865  32561.0       119.0
capital-loss         0.701402   2.848192  0.857391  32561.0        92.0
fnlwgt               0.170447   0.391272  0.117785  32561.0     21648.0

In [83]:
import numpy as np
import pandas as pd
from scipy.stats import entropy

# Total number of rows (adjusted for the subset of data)
def get_total_rows(df):
    return len(df)

def calculate_entropy(column):
    # Calculate entropy for the column
    value_counts = column.value_counts(normalize=True)
    return entropy(value_counts, base=2)

def normalize_entropy(entropy_value, unique_values_count):
    return entropy_value / unique_values_count

def count_unique_rows(df):
    # Count occurrences of each row
    value_counts = df.value_counts()
    # Count rows that only occur once
    unique_rows_count = len(value_counts[value_counts == 1])
    return unique_rows_count

def calculate_unique_rows_excluding_column(df, column_name):
    # Exclude the specified column
    df_reduced = df.drop(columns=[column_name])
    # Calculate unique rows in the reduced DataFrame
    return count_unique_rows(df_reduced)

def calculate_contribution_score(df, column_name):
    column = df[column_name]
    unique_values_count = column.nunique()
    unique_rows_count_excluding_column = calculate_unique_rows_excluding_column(df, column_name)
    entropy_value = calculate_entropy(column)
    normalized_entropy_value = normalize_entropy(entropy_value, unique_values_count)
    
    # Contribution score
    contribution_score = ((entropy_value * unique_values_count) / unique_rows_count_excluding_column) 
    return entropy_value, unique_values_count, unique_rows_count_excluding_column, normalized_entropy_value, contribution_score

# Select specific columns
selected_columns = ['sex', 'race', 'marital-status','relationship','occupation','age','workclass','education']
data_subset = data[selected_columns]
data_subset['age'] = (data_subset['age'] // 10 * 10) + (data['age'] % 10 >= 5) * 10

# Total number of rows for the subset
total_rows = get_total_rows(data_subset)

# Store results
results = []

for col in selected_columns:
    entropy_value, unique_values, unique_rows_excluding_column, normalized_entropy_value, contribution_score = calculate_contribution_score(data_subset, col)
    results.append({
        'Column': col,
        'Unique Values': unique_values,
        'Entropy': entropy_value,
        'Normalized Entropy': normalized_entropy_value,
        'Unique Rows Excluding Column': unique_rows_excluding_column,
        'Contribution Score': contribution_score
    })

# Convert results to DataFrame for better readability
results_df = pd.DataFrame(results)

# Sort results by Contribution Score
results_df = results_df.sort_values(by='Contribution Score', ascending=False)

print(len(data))
results_df

32561

/Users/emiliekibsgaard/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Column,Unique Values,Entropy,Normalized Entropy,Unique Rows Excluding Column,Contribution Score
4,occupation,15,3.516903,0.234460,3367,0.015668
7,education,16,2.931351,0.183209,3024,0.015510
5,age,8,2.439501,0.304938,3961,0.004927
6,workclass,9,1.647977,0.183109,5154,0.002878
3,relationship,6,2.154424,0.359071,5625,0.002298
2,marital-status,7,1.833649,0.261950,5682,0.002259
1,race,5,0.798741,0.159748,5587,0.000715
0,sex,2,0.915736,0.457868,6625,0.000276

In [74]:
data['relationship'].value_counts(normalize=True)

 Husband           0.405178
 Not-in-family     0.255060
 Own-child         0.155646
 Unmarried         0.105832
 Wife              0.048156
 Other-relative    0.030128
Name: relationship, dtype: float64

In [85]:
data['marital-status'].value_counts(normalize=True)

 Married-civ-spouse       0.459937
 Never-married            0.328092
 Divorced                 0.136452
 Separated                0.031479
 Widowed                  0.030497
 Married-spouse-absent    0.012837
 Married-AF-spouse        0.000706
Name: marital-status, dtype: float64

In [42]:
# Entropy measures the amount of uncertainty or disorder in a distribution.

In [139]:
import numpy as np
import pandas as pd
from scipy.stats import entropy

# Total number of rows (adjusted for the subset of data)
def get_total_rows(df):
    return len(df)

def calculate_shannon_entropy(column):
    # Calculate Shannon entropy for the column
    value_counts = column.value_counts(normalize=True)
    return entropy(value_counts, base=2)



def normalize_entropy(entropy_value, unique_values_count):
    # Normalize entropy value
    return entropy_value / unique_values_count

def count_unique_rows(df):
    # Count occurrences of each row
    value_counts = df.value_counts()
    # Count rows that only occur once
    unique_rows_count = len(value_counts[value_counts == 1])
    return unique_rows_count

def calculate_unique_rows_excluding_column(df, column_name):
    # Exclude the specified column
    df_reduced = df.drop(columns=[column_name])
    # Calculate unique rows in the reduced DataFrame
    return count_unique_rows(df_reduced)

def calculate_contribution_score(df, column_name):
    column = df[column_name]
    unique_values_count = column.nunique()
    unique_rows_count_excluding_column = calculate_unique_rows_excluding_column(df, column_name)

    # Calculate Shannon entropy, Gini-Simpson Index, and Effective Number of Classes
    shannon_entropy_value = calculate_shannon_entropy(column)
   

    normalized_shannon_entropy_value = normalize_entropy(shannon_entropy_value, unique_values_count)
    
    # Contribution score using Shannon entropy
    contribution_score_shannon = (shannon_entropy_value * unique_values_count) / unique_rows_count_excluding_column
    
    
    return {
        'Shannon Entropy': shannon_entropy_value,
        'Unique Values': unique_values_count,
        'Unique Rows After Excluding Column': unique_rows_count_excluding_column,
         #'Normalized Shannon Entropy': normalized_shannon_entropy_value,
        'Contribution Score': contribution_score_shannon,
    }


# Select specific columns
selected_columns = ['sex', 'race', 'marital-status', 'relationship', 'occupation', 'age', 'workclass', 'education','salary-class']
data_subset = data[selected_columns]


# Store results
results = []


# Calculate contribution score using Shannon entropy, Gini-Simpson Index, and Effective Number of Classes
for col in selected_columns:
    result = calculate_contribution_score(data_subset, col)
    results.append({
        'Column': col,
        **result
    })
    

# Convert results to DataFrame for better readability
results_df = pd.DataFrame(results)


# Sort results by Contribution Score for Effective Number of Classes
results_df = results_df.sort_values(by='Contribution Score', ascending=False)


# Output the results
print(len(data))
results_df

32561

,Column,Shannon Entropy,Unique Values,Unique Rows After Excluding Column,Contribution Score
5,age,5.683324,73,4672,0.088802
4,occupation,3.516903,15,10411,0.005067
7,education,2.931351,16,10171,0.004611
6,workclass,1.647977,9,14308,0.001037
3,relationship,2.154424,6,15724,0.000822
2,marital-status,1.833649,7,16207,0.000792
1,race,0.798741,5,15774,0.000253
0,sex,0.915736,2,16726,0.000109
8,salary-class,0.796384,2,16250,0.000098

In [121]:
#contribution_score_shannon = (shannon_entropy_value * unique_values_count) / unique_rows_count_excluding_column

By multiplying the entropy with the unique values for the given column we add the weight of having more unique values
In the same manner, by dividing my the total number of unique rows after potentially excluding the column we make sure to add the 
importance of how much the column contributes to the overall unique rows in the dataset

In [146]:
0.798741 * 5 / 16700

0.00023914401197604792

In [147]:
0.915736 * 2 / 16700

0.00010966898203592814

###### Diversity Measurement: Shannon entropy quantifies how varied or uncertain the values are within a column. Columns with higher entropy have a more even distribution of values, indicating greater diversity.
Implication: If a column has high entropy, it means that the values in this column are not clustered around a few categories but are spread out across many categories.

Information Measure: Entropy is a measure of the amount of information or surprise associated with a random variable. Higher entropy means the column contains more information because it’s less predictable and more complex.

So let say we wanna evaluate more column together and not against eachother..then we would need to first find the 
total unique values for all the column so it could be C1 UV * C2 UV * C3 UV however this gives us the max and not the
real view so first we have to compute it

#For example
Sex, race, relationship, workclass = 2 * 5 * 6 * 9  = 540 
but we might not neccesarily reach this maximum.

In [152]:
combined_column = data[['sex', 'race', 'relationship', 'workclass']].astype(str).agg('-'.join, axis=1)
unique_rows_count = combined_column.nunique()
unique_rows_count

297

In [157]:
data = data[['sex', 'race', 'relationship', 'workclass','occupation']]

In [158]:
data

           sex    race    relationship          workclass          occupation
0         Male   White   Not-in-family          State-gov        Adm-clerical
1         Male   White         Husband   Self-emp-not-inc     Exec-managerial
2         Male   White   Not-in-family            Private   Handlers-cleaners
3         Male   Black         Husband            Private   Handlers-cleaners
4       Female   Black            Wife            Private      Prof-specialty
...        ...     ...             ...                ...                 ...
32556   Female   White            Wife            Private        Tech-support
32557     Male   White         Husband            Private   Machine-op-inspct
32558   Female   White       Unmarried            Private        Adm-clerical
32559     Male   White       Own-child            Private        Adm-clerical
32560   Female   White            Wife       Self-emp-inc     Exec-managerial

[32561 rows x 5 columns]

In [159]:
import pandas as pd
from itertools import combinations
from joblib import Parallel, delayed

def calculate_unique_rows(data, column_names):
    # Combine columns into a single string column
    combined_column = data[column_names].astype(str).agg('-'.join, axis=1)
    # Return the number of unique rows in this combined column
    return combined_column.nunique()

def calculate_max_unique_rows(data, column_names):
    # Calculate the maximum possible number of unique rows
    return pd.Series([data[col].nunique() for col in column_names]).prod()

def process_combination(data, column_names):
    # Compute unique rows count and maximum unique rows for the given combination
    unique_rows_count = calculate_unique_rows(data, column_names)
    max_unique_rows = calculate_max_unique_rows(data, column_names)
    return {
        'Column Combination': ', '.join(column_names),
        'Unique Rows Count': unique_rows_count,
        'Max Unique Rows': max_unique_rows,
        'Ratio': unique_rows_count / max_unique_rows
    }

def analyze_column_combinations(data):
    columns = data.columns.tolist()
    all_combinations = [list(subset) for r in range(1, len(columns) + 1) for subset in combinations(columns, r)]
    
    # Parallel processing for handling all combinations
    results = Parallel(n_jobs=-1)(delayed(process_combination)(data, subset) for subset in all_combinations)
    
    return pd.DataFrame(results)



# Analyze all column combinations
results_df = analyze_column_combinations(data)

# Display results
results_df

KeyboardInterrupt: